In [17]:
import pandas as pd

df = pd.read_csv('subjectinfo.csv')
dfMeasure = pd.read_csv('testmeasure.csv')
df.describe()

,Age,Weight,Height,Humidity,Temperature,Sex,ID
count,992.000000,992.000000,992.000000,962.000000,962.000000,992.000000,992.000000
mean,28.979133,73.383367,174.913508,48.211435,22.818565,0.150202,424.890121
std,10.076653,12.005361,7.950027,8.560991,2.784066,0.357449,243.832478
min,10.800000,41.000000,150.000000,23.700000,15.000000,0.000000,1.000000
25%,21.100000,66.000000,170.000000,42.000000,20.800000,0.000000,214.750000
50%,27.100000,73.000000,175.000000,47.000000,22.900000,0.000000,428.500000
75%,36.325000,80.225000,180.000000,54.000000,24.400000,0.000000,626.250000
max,63.000000,135.000000,203.000000,69.000000,32.300000,1.000000,857.000000

In [18]:
df.head()

    Age  Weight  Height  Humidity  Temperature  Sex   ID ID_test
0  10.8    48.8   163.0      39.0         20.7    1  543   543_1
1  11.8    41.0   150.0      41.0         22.3    1   11    11_1
2  12.2    46.0   160.0      37.0         21.5    0  829   829_1
3  13.2    71.0   190.0      49.0         23.8    1  284   284_1
4  13.7    53.8   169.7      40.0         25.3    0  341   341_1

In [19]:
age = df['Age']
mass = df['Weight']
gender = df['Sex']

In [26]:
vo2Max = dfMeasure['VO2'].max() / df['Weight']
vo2Rest = dfMeasure['VO2'] / df['Weight']
meanHR = dfMeasure['HR'].mean()
restHR = dfMeasure[dfMeasure['HR'] > 40]['HR'].min()
maxHR = dfMeasure['HR'].max()

In [22]:
slope = (vo2Max - vo2Rest) / (maxHR - restHR)
vo2 = (meanHR - restHR) * slope + vo2Rest

In [23]:
df['EEPettitt'] = round(vo2 * mass / 1000 * 4.8, 4)
df['EEKeytel'] = round((-59.3954 + gender * (-36.3781 + 0.271 * age + 0.394 * mass + 0.404 * vo2Max + 0.634 * meanHR)
                        + (1 - gender) * (0.274 * age + mass + 0.38 * vo2Max + 0.45 * meanHR)) / 4.184, 4)
df

,Age,Weight,Height,Humidity,Temperature,Sex,ID,ID_test,EEPettitt,EEKeytel
0,10.8,48.8,163.0,39.0,20.7,1,543,543_1,18.0694,16.9717
1,11.8,41.0,150.0,41.0,22.3,1,11,11_1,17.9115,18.6422
2,12.2,46.0,160.0,37.0,21.5,0,829,829_1,18.0099,25.6761
3,13.2,71.0,190.0,49.0,23.8,1,284,284_1,18.0345,15.3714
4,13.7,53.8,169.7,40.0,25.3,0,341,341_1,18.2663,25.8589
...,...,...,...,...,...,...,...,...,...,...
987,59.1,64.7,172.0,38.0,24.4,0,856,856_2,24.1760,29.6691
988,59.7,65.2,172.0,51.0,16.8,0,856,856_3,24.1986,29.7610
989,61.3,102.0,185.0,56.0,20.5,0,390,390_1,23.8232,35.5367
990,61.6,74.0,169.0,46.0,23.9,0,596,596_1,24.1699,30.9588
991,63.0,83.5,171.5,48.0,22.2,0,296,296_1,23.9032,32.4529

In [24]:
#df.to_csv('energyExposure.csv')